<main class="container mx-auto">
    <h3 class="font-light uppercase text-2xl mt-20" >Webpack Base</h3>
    <p>
        Proyecto creado con 
        {{>e-links text='Webpack' href='https://webpack.js.org/' }}, 
        {{>e-links text='Handlebars' href='https://handlebarsjs.com' }} y 
        {{>e-links text='TailwindCSS' href='https://tailwindcss.com' }} con 
        {{>e-links text='Page.js' href='https://github.com/visionmedia/page.js' }}
    </p>
</main>